{% if 'postgres_primary' in group_names or ('gitlab_rails' in group_names and geo_secondary_site_group_name + '_postgres_primary' not in groups and not postgres_external) %}
geo_postgresql['enable'] = true

geo_postgresql['listen_address'] = '0.0.0.0'
geo_postgresql['sql_user_password'] = '{{ (geo_tracking_postgres_password + 'gitlab_geo') | md5 }}'
geo_postgresql['md5_auth_cidr_addresses'] = {{ geo_tracking_postgres_md5_auth_cidr_blocks }}

gitlab_rails['db_host'] = '0.0.0.0'
{% else %}
geo_postgresql['enable'] = false
{% endif %}
